@model WebSite.Data.Models.ProductAdd
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h1>Ürün Ekleme Sayfası</h1>
<br />
<form class="form-group" action="AddProduct" asp-controller="Product" method="post" enctype="multipart/form-data">
    @Html.Label("Ürün Adı")
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    @Html.Label("Ürün Fiyatı")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    @Html.Label("Fotoğraf Seçme")
    <input type="file" name="ImageURL" />
    <br />
    @Html.Label("Kategori Seçme")
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.v1, new{@class="form-control"})
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.ProductDescription, new { @class = "form-control", style = "width: 100%; height: 200px;" })
    <br />
    <button class="btn btn-primary">Kaydet</button>

</form>